.composition {
  position: relative;

  &__photo {
    width: 55%;
    position: absolute;

    &:hover {
      transform: scale(1.1);
      transition: all 0.2s;
      outline: 1rem solid $color-primary;
      outline-offset: 2rem;
      border-radius: 1.5rem;
      z-index: 1;
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
    }
    &:not(:hover) {
      transform: scale(0.95);
    }
  }

  // composition:hover composition__photo:not(:hover)
  &-img1 {
    left: 0;
    top: -2rem;
  }
  &-img2 {
    right: 0;
    top: 2rem;
  }
  &-img3 {
    bottom: -32rem;
    right: 14rem;
  }
}
